.menu {
	font-family: 'Josefin Slab', serif;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 150px;

	&__title {
		font-family: 'Josefin Sans', sans-serif;
		text-decoration: underline;

	}

	&__button {
		margin-bottom: 35px;
	}

	&__items {
		padding: 10px 50px;
		border-radius: 20px;
		background: rgb(255, 253, 242);

	}
}